.env
logs/*
!logs/README
config/*
!config/README

# private config
apps/payments/docker/config/mw/private
!apps/payments/docker/config/mw/private/README
apps/payments/docker/config/smashpig/private
!apps/payments/docker/config/smashpig/private/README
apps/smashpig/docker/config/smashpig/private
!apps/smashpig/docker/config/smashpig/private/README
